.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 0 60px;
}
.banner_left {
    flex: 70%;
    padding: 20px 30px;
}
.banner_right {
    flex: 30%;
}
.s2 {
    width: 400px;
}
.s1 {
    width: 400px;
    margin-top: 30px;
}